<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openForm()">Open Form</button>
    <h1>{{ "Nilai a : " + a }}</h1>
    <h1>{{ "Rata-rata : " + rata}}</h1>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a : 0,
        rata : 0,
      },
      methods : {
        openForm : function(){
            var total = 0
            var value = 0
            var count = 0
            for(var i=1;i<=10;i++){
                if(total < 10){
                    value = prompt("Masukkan nilai a")
                    total = total + parseInt(value)
                    count = i 
                }
            }
            this.a = total
            this.rata = total/count
        }
      }
  })
  </script>
</body>
</html>