<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz-2</title>
    </head>

    <body>
        <div id="app">
            <input type="text" v-model="input">
            <button v-on:action="btnAdd">Add</button>
            
            <ul v-for="user in users">
                <li>{{user.name}}
                    <button v-on:click=1>Edit</button> ||
                    <button v-on:click=2>Delete</button>
                </li>
            </ul>
        </div>
  
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script>
        var vm = new Vue({
            el: '#app',
            data: {
                click : 0,
                input : "",
                users : [
                    {name : 'Patricia Devita Samara'},
                    {name : 'Ina Desirra Sukma'},
                    {name : 'Bulan Cantika Simbolon'}
                ]
            },
            methods: {
                btnAdd: function(){
                    this.users.name.push(this.input)
					this.input = ''
                }
            },
        });
        </script>
    </body>
</html>