<!DOCTYPE html>
<html>
<head>
	<title>Cara Menampilkan Data Array di Template Component VueJS</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
<div class="container app mt-3">
	<div class="col-md-4 offset-md-4">
		<h1 class="text-center">Cara Menampilkan Data Array di Template Component VueJS</h1>
		<hr>
		<new-tag v-for="member in members" v-bind:nama="member.nama" v-bind:alamat="member.alamat"></new-tag>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
<script type="text/javascript">
	Vue.component('new-tag',{
		props: ['nama', 'alamat'],
		template: `
		<div>
			<ul class="list-group">
			  <li class="list-group-item"><strong>Nama:</strong> {{nama}}, <strong>alamat:</strong> {{alamat}}</li>
			</ul>
		</div>
		`
	})
	new Vue({
		el: '.app',
		data:{
			members : [
				{nama: 'Bani', alamat: 'Kali Sungai'},
				{nama: 'Santoro', alamat: 'Kali anyar'},
				{nama: 'Ronald', alamat: 'Pejagalan Timur'},
				{nama: 'Safitri', alamat: 'Kebayoran lama'},
			]
		} 
	})
</script>
</body>
</html>